In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import matplotlib.ticker as ticker
from IPython.display import Audio
from sklearn import datasets, linear_model
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler
from sklearn.manifold import TSNE

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_colwidth', 200)

In [2]:
#Billboard Top 100 By Week from 1958 to 2021
bb100 = pd.read_csv('Hot Stuff.csv')

In [3]:
#First & Last 2 entries by Week/Year
bb100['WeekID'] = pd.to_datetime(bb100['WeekID'])

In [4]:
#Features
features = pd.read_excel('Hot 100 Audio Features.xlsx')

In [5]:
#Selecting key features for both dataframes:

bb100_keep = ['WeekID','SongID', 'Performer']

feat_keep = ['SongID','danceability', 'energy', 'speechiness', 'acousticness', 
             'instrumentalness', 'liveness', 'valence']

In [6]:
bb100_feat = pd.merge(bb100[bb100_keep], features[feat_keep], on='SongID', how='left')

In [7]:
artists = bb100_feat.groupby('Performer').mean()
artists

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
"""Groove"" Holmes",0.553000,0.487000,0.032400,0.783000,0.876000,0.292000,0.524000
"""Little"" Jimmy Dickens",0.660000,0.801000,0.115000,0.738000,0.000010,0.627000,0.867000
"""Pookie"" Hudson",NaN,NaN,NaN,NaN,NaN,NaN,NaN
"""Weird Al"" Yankovic",0.731308,0.669165,0.087407,0.132022,0.000216,0.140924,0.776681
'N Sync,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
will.i.am & Nicki Minaj,0.854000,0.667000,0.059800,0.070500,0.000008,0.119000,0.686000
will.i.am Featuring Justin Bieber,0.797000,0.608000,0.058300,0.001120,0.000077,0.074800,0.403000
will.i.am Featuring Mick Jagger & Jennifer Lopez,0.586000,0.712000,0.096900,0.104000,0.000006,0.037700,0.450000
will.i.am Featuring Miley Cyrus,0.619000,0.621000,0.035700,0.009940,0.003320,0.121000,0.338000
"will.i.am Featuring Miley Cyrus, French Montana, Wiz Khalifa & DJ Mustard",0.859000,0.533000,0.156000,0.029300,0.000000,0.138000,0.514000

In [8]:
Check = artists[artists.index=='10cc']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
10cc,0.58328,0.522512,0.059845,0.340788,0.004388,0.171202,0.522744

In [9]:
ideal = bb100_feat.groupby(pd.Grouper(key='WeekID', axis=0, freq='1Y')).mean()
ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
WeekID,,,,,,,
1958-12-31,0.545860,0.471431,0.051397,0.670536,0.062691,0.193292,0.675069
1959-12-31,0.528111,0.482844,0.057691,0.674084,0.070608,0.192840,0.661094
1960-12-31,0.516852,0.456821,0.045528,0.666800,0.070480,0.205267,0.653143
1961-12-31,0.531123,0.478718,0.052219,0.653479,0.087808,0.218387,0.666775
1962-12-31,0.542766,0.477447,0.057662,0.638669,0.071893,0.213591,0.670719
...,...,...,...,...,...,...,...
2017-12-31,0.682885,0.641847,0.116469,0.168601,0.004120,0.146380,0.503560
2018-12-31,0.687011,0.636133,0.125148,0.179402,0.003884,0.167008,0.454047
2019-12-31,0.693093,0.623126,0.125736,0.223738,0.007480,0.162145,0.499985
2020-12-31,0.664939,0.629994,0.107855,0.232929,0.004318,0.175762,0.501072
2021-12-31,0.651664,0.593304,0.107856,0.289071,0.003170,0.160534,0.498986

In [10]:
df2 = ideal.iloc[[-1]]
df2

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
WeekID,,,,,,,
2021-12-31,0.651664,0.593304,0.107856,0.289071,0.00317,0.160534,0.498986

In [11]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,0.003170,0.160534,0.498986
10cc,0.583280,0.522512,0.059845,0.340788,0.004388,0.171202,0.522744

In [12]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.2745476280092377

In [13]:
Check = artists[artists.index=='Alannah Myles']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
Alannah Myles,0.718865,0.562054,0.054284,0.178167,0.00087,0.179784,0.482

In [14]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,0.00317,0.160534,0.498986
Alannah Myles,0.718865,0.562054,0.054284,0.178167,0.00087,0.179784,0.482000

In [15]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.30146228926761903

In [16]:
Check = artists[artists.index=='Dru Hill']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
Dru Hill,0.677326,0.547638,0.085821,0.240246,0.0,0.164113,0.491087

In [17]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,0.00317,0.160534,0.498986
Dru Hill,0.677326,0.547638,0.085821,0.240246,0.00000,0.164113,0.491087

In [18]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.1568355961222999

In [19]:
Check = artists[artists.index=='Faith Evans']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
Faith Evans,0.648719,0.586793,0.085249,0.213951,2.429630e-07,0.172711,0.535119

In [20]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,3.169610e-03,0.160534,0.498986
Faith Evans,0.648719,0.586793,0.085249,0.213951,2.429630e-07,0.172711,0.535119

In [21]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.15866309942426088

In [22]:
Check = artists[artists.index=='Fantasia']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
Fantasia,0.655598,0.561278,0.089899,0.360249,0.000024,0.104938,0.555536

In [23]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,0.003170,0.160534,0.498986
Fantasia,0.655598,0.561278,0.089899,0.360249,0.000024,0.104938,0.555536

In [24]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.24038480892623387

In [25]:
Check = artists[artists.index=='Jaheim']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
Jaheim,0.663146,0.519354,0.104782,0.20578,0.000004,0.124622,0.591683

In [26]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,0.003170,0.160534,0.498986
Jaheim,0.663146,0.519354,0.104782,0.205780,0.000004,0.124622,0.591683

In [27]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.30357083394331086

In [28]:
Check = artists[artists.index=='Jazmine Sullivan']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
Jazmine Sullivan,0.646028,0.621694,0.06434,0.209658,0.0,0.130147,0.589542

In [29]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,0.00317,0.160534,0.498986
Jazmine Sullivan,0.646028,0.621694,0.064340,0.209658,0.00000,0.130147,0.589542

In [30]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.28106720720708434

In [31]:
Check = artists[artists.index=='Jeremih']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
Jeremih,0.687239,0.553448,0.057404,0.288418,0.0,0.207627,0.555104

In [32]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,0.00317,0.160534,0.498986
Jeremih,0.687239,0.553448,0.057404,0.288418,0.00000,0.207627,0.555104

In [33]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.23291656006811987

In [34]:
Check = artists[artists.index=='Justin Bieber']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
Justin Bieber,0.640524,0.604489,0.119881,0.320002,0.000244,0.18661,0.518942

In [35]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,0.003170,0.160534,0.498986
Justin Bieber,0.640524,0.604489,0.119881,0.320002,0.000244,0.186610,0.518942

In [36]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.11423984417624033

In [37]:
Check = artists[artists.index=='Lil Nas X']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
Lil Nas X,0.713385,0.561615,0.107508,0.283846,0.0,0.153969,0.602077

In [38]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,0.00317,0.160534,0.498986
Lil Nas X,0.713385,0.561615,0.107508,0.283846,0.00000,0.153969,0.602077

In [39]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.21180666696394873

In [40]:
Check = artists[artists.index=='Lil Skies']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
Lil Skies,0.6835,0.61,0.1255,0.3825,0.0,0.115,0.475

In [41]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,0.00317,0.160534,0.498986
Lil Skies,0.683500,0.610000,0.125500,0.382500,0.00000,0.115000,0.475000

In [42]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.23229432301089914

In [43]:
Check = artists[artists.index=='Marques Houston']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
Marques Houston,0.715741,0.550963,0.146437,0.210378,0.000004,0.133933,0.434926

In [44]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,0.003170,0.160534,0.498986
Marques Houston,0.715741,0.550963,0.146437,0.210378,0.000004,0.133933,0.434926

In [45]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.31751835309667964

In [46]:
Check = artists[artists.index=='Monica']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
Monica,0.633815,0.560826,0.087149,0.200023,0.000024,0.211975,0.561908

In [47]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,0.003170,0.160534,0.498986
Monica,0.633815,0.560826,0.087149,0.200023,0.000024,0.211975,0.561908

In [48]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.27759052946451834

In [49]:
Check = artists[artists.index=='Musiq']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
Musiq,0.591594,0.613941,0.131465,0.324406,0.0,0.181926,0.449891

In [50]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,0.00317,0.160534,0.498986
Musiq,0.591594,0.613941,0.131465,0.324406,0.00000,0.181926,0.449891

In [51]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.21330810616033133

In [52]:
Check = artists[artists.index=='Taylor Swift']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
Taylor Swift,0.605309,0.655652,0.055582,0.186298,0.000705,0.140975,0.476707

In [53]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,0.003170,0.160534,0.498986
Taylor Swift,0.605309,0.655652,0.055582,0.186298,0.000705,0.140975,0.476707

In [54]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.30805267758649896

In [55]:
Check = artists[artists.index=='Halsey']
Check

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
Performer,,,,,,,
Halsey,0.670697,0.577432,0.05721,0.182748,0.000008,0.147645,0.478192

In [56]:
Check_Ideal = pd.concat([df2, Check])
Check_Ideal

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence
2021-12-31 00:00:00,0.651664,0.593304,0.107856,0.289071,0.003170,0.160534,0.498986
Halsey,0.670697,0.577432,0.057210,0.182748,0.000008,0.147645,0.478192

In [57]:
diff = Check_Ideal.iloc[0] - Check_Ideal.iloc[1]
diff.abs().sum()

0.22871652917569113